<ul>
  <% list.references.each do |reference| %>
    <li>
      <%= link_to reference.paper.title, paper_path(reference.paper) %>
      <%= link_to 'Remove', reference, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>

  <%= render partial: 'lists/add_paper_form', locals: { list: list } %>
</ul>
