<% if @pinned_lists.present? %>
  <h1>Pinned Lists</h1>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Create New List', new_list_path %>
    </div>
  </div>

  <div class="cards row">
    <%= render @pinned_lists %>
  </div>
<% end %>

<% if @unpinned_lists.present? %>
  <h1>Lists</h1>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Create New List', new_list_path %>
    </div>
  </div>

  <div class="cards row">
    <%= render @unpinned_lists %>
  </div>
<% end %>
