<h1>
  <span>Lists</span>
  <small>sorted by popularity</small>
</h1>


<p><%= link_to 'New List', new_list_path %></p>

<%= render 'lists/index', lists: @lists %>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'New List', new_list_path %>
  </div>
</div>
