<h1>Lists</h1>

<p><%= link_to 'New List', new_list_path %></p>

<%= render partial: 'lists/index', locals: { lists: @lists } %>

<!-- SHAME - inline styles are terrible -->
<p style="clear: left;"><%= link_to 'New List', new_list_path %></p>
