<%
  @title = 'Home'
  @full_width = true
%>

<% if @pinned_lists.present? %>
  <div class="row">
    <div class="col-md-12">
      <h1>Pinned Lists</h1>
      <%= link_to 'Create New List', new_list_path %>
    </div>
  </div>

  <div class="cards row">
    <%= render @pinned_lists %>
  </div>
<% end %>

<% if @unpinned_lists.present? %>
  <div class="row">
    <div class="col-md-12">
      <h1>Lists</h1>
      <%= link_to 'Create New List', new_list_path %>
    </div>
  </div>

  <div class="cards row">
    <%= render @unpinned_lists %>
  </div>
<% end %>
