<h1>
  <span>Lists</span>
  <small>sorted by popularity</small>
</h1>


<p><%= link_to 'Create New List', new_list_path %></p>
<div class="cards row">
  <%= render @lists %>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Create New List', new_list_path %>
  </div>
</div>
