<h1>Pinned Lists</h1>

<%= link_to 'New List', new_list_path %>
<%= render partial: 'lists/index', locals: { lists: @lists } %>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'New List', new_list_path %>
  </div>
</div>
