<%= render partial: 'layouts/nav_button_group' %>

<h1>Pinned Lists</h1>

<%= link_to 'New List', new_list_path %>

<%= render partial: 'lists/index', locals: { lists: @lists } %>

<%= link_to 'New List', new_list_path %>
