<form>
  <%= text_field_tag 'crossref-search', nil, class: 'form-control', placeholder: 'Search for a paper', style: 'width: 80%; display: inline;' %>
  <%= submit_tag 'add paper', class: 'btn btn-md btn-primary', style: 'display: inline;' %>
  <ul class="hidden" id="crossref-results"></ul>
</form>
