<div class="input-group">
  <%= text_field_tag 'crossref-search', nil, class: 'form-control', placeholder: 'Search for a paper' %>
  <span class="input-group-addon">add paper</span>
</div>
<ul class="hidden list-group" id="crossref-results"></ul>
