<div class="comment">
  <p class="text-muted">
    Added by <strong><%= comment.user.username %></strong> on <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %>
  </p>

  <p><%= comment.content %></p>

  <%= yield %>
</div>