<%= form_for paper do |f| %>
  <div class="form-group">
    <%= f.label :abstract, 'No abstract found, you can add one:', class: "control-label" %>
    <%= f.text_area :abstract, class: "form-control", rows: 8 %>
  </div>
    <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
<% end %>