<div class="tags-list">
  <% paper.tag_list.each do |tag| %>
    <a class="btn btn-default btn-xs"><%= tag %></a>
  <% end %>
  <%= link_to "edit tags", '#', class: "add-tag" %>
</div>
<%=  render 'papers/tags_form', paper: paper %>