<div class="tags-form hidden">
  <%= form_for(paper, html: {class: 'form-inline'}) do |f| %>
    <div class="form-group">
      <%= f.text_field :tag_list, value: paper.tag_list.join(","), placeholder: "No tags added", class: "form-control input-sm" %>
      <%= f.submit 'Add tags', class: "btn btn-xs btn-primary" %>
      <%= link_to "cancel", '#', class: "cancel-add-tag link-btn" %>
    </div>
  <% end %>
  <i class='help-block'><small>Tags should be seperated by commas.</small></i>
</div>