<span class="tags-list">
  <% tags = paper.tag_list %>
  <% tags.each do |tag| %>
    <a class="btn btn-default btn-xs"><%= tag %></a>
  <% end %>
  <%= link_to (if tags.empty? then "add a tag" else "edit tags" end), '#', class: "add-tag" %>
</span>
<%=  render 'papers/tags_form', paper: paper %>