// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reply {
  margin-left: 30px;
}

.reply .reply .reply .reply .reply {
  margin-left: 0;
}

.comment-box {
  height: 100px;
  overflow: auto;
}

.comment {
  border-top: 1px solid gray;

  .btn-link {
    padding: 0;
  }

  ul {
    padding: 0;
    margin: 0 0 3px 0;

    li {
      display: inline;
      float: left;
      padding: 0 10px 0 0;
    }

  }
}