// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-box {
  height: 100px;
  overflow: auto;
}

.comment {
  border-top: 1px solid gray;

  .comment {
    margin-left: 30px;
  }

  .comment .comment .comment .comment .comment {
    margin-left: 0;
  }

  .btn-link {
    padding: 0;
  }

  .cancel-link {
    font-size: 12px;
  }

  ul {
    padding: 0;
    margin: 0 0 3px 0;

    li {
      display: inline;
      padding: 0 10px 0 0;
    }

    .like-form {
      display: inline;
    }
  }
}

