.paper-show {
    border-bottom: thin solid #ddd;
    margin-bottom: 10px;
}

.paper-title {
    margin: 0;
    display: inline;
}

.tags-list {
  font-size: 12px;
}

.tags-form {
  .form-group {
    padding: 0;
  }

  .form-control {
    width: 70%;
  }
}

ul.links {
  list-style-type: none;
  word-wrap: break-word;
  padding-left: 20px;
}