button.comment-vote {
  @extend .btn, .btn-link, .btn-xs;
  color: $gray-light;

  &:before  {
    font-family: "Glyphicons Halflings";
    content: "\e253";
  }
}

button.comment-vote.active {
  color: $link-color;
}

.reference-vote {
  &:before  {
    font-family: "Glyphicons Halflings";
    content: "\e125";
  }

  @extend .btn, .btn-default, .btn-sm;
}

.list-vote {
  &:before  {
    font-family: "Glyphicons Halflings";
    content: "\e125";
  }

  @extend .btn, .btn-default, .btn-sm;
}
