/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

body {
  line-height: 1.5;
  padding: 4em 1em;
  margin: 0 auto;
  max-width: 70em;
  font-family: "Helvetica", "Arial", sans-serif;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ccc;

  div {
    margin: auto;
    text-align: center;

    span {
      float: left;
      width: 33%;
    }
  }

  button {
    background-color: white;
    width: 10em;
    height: 3em;
    border-radius: 5px;
  }

  input {
    background-color: white;
    width: 40em;
  }
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

li {
  list-style: disc inside;
}
