.card {
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2em auto;

  h1 {
      font-weight: bold;
  }

  span {
    padding: 1em;
    float: left;
  }
  .info {
    width: 20%;
  }

  .content {
    width: 60%;
    margin: 0 auto;
  }

  .options {
    width: 10%;
    border-left: 1px solid black;

    li {
      list-style: '- ' inside;
    }
  }
}
