<% @title = "#{@user.username}'s lists" %>

<h1>
  <span><%= "#{@user.username}'s" %> Lists</span>
  <small>sorted by popularity</small>
</h1>

<div class="cards row">
  <%= render partial: 'lists/list', collection: @lists %>
</div>

