<div class="text-center">
    <div class="btn-group nav-button-group" role="group" aria-label="...">
      <%= link_to 'Lists', lists_path, class: "btn btn-default", role: "button" %>
      <%= link_to 'Papers', papers_path, class: "btn btn-default", role: "button"  %>
    </div>
</div>
