<p>Welcome to Project Credo!</p>

<p>This email has been signed up for our website.  You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
