<p>Hello!</p>

<p>We're contacting you to notify you that your password for this account email has been changed.  If you did not request a password change, please change your Project Credo password and consider changing your email password as well to ensure your account security.</p>
